
<script>

    $(document).ready(function() {
        $.ajax({
            url: "{% url 'index' %}", // API URL'nizi buraya yazın
            type: "GET",
            dataType: "json",
            success: function(data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    var post_image_url = data[i].post_image;
                    if (typeof post_image_url === 'string' && post_image_url.length > 0) {
                        post_image_url = '"' + post_image_url + '"';
                    } else {
                        post_image_url = '""';
                    }
                    html += '<div class="col-lg-4 col-md-6 col-sm-6">' +
                            '<div class="blog__item">' + 
                            '<div class="blog__item__pic set-bg" data-setbg=' + post_image_url + '></div>' + 
                            '<div class="blog__item__text">' + 
                            '<span><img src="{% static "img/icon/calendar.png" %}" alt="">' + data[i].created_at + '</span>' + 
                            '<h5>' + data[i].title  + '</h5>' + 
                            '<a href="' + data[i].url + '">Read More</a>' + 
                            '</div>' + 
                            '</div>' + 
                            '</div>';
                }
                $('#blog__triple').html(html);
            },
            error: function(xhr, status, error) {
                // Bir hata oluştuğunda yapılacak işlemler
                console.error(error);
            }
        });
    });

</script>
<p>fdfd</p>
