{% load static %}
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            {% if user.id is not None %}
                
                <div class="offcanvas__top__hover">
                    <img src="{% static 'img/icon/icons8-user-24.png' %}" alt="">
                    <span> {{user.username}} <i class="arrow_carrot-down"></i></span>
                    <ul>
                        <li><a href="{% url 'user_index' %}" style="color: black;">Hesabım</a></li>
                        <li><a href="{% url 'logout' %}" style="color: black;">Çıkış Yap</a></li>                    
                    </ul>
                    <a href="#">FAQs</a>
                </div>
            {% else %}
                <div class="offcanvas__links">
                    <a href="{% url 'login' %}">Sign in</a>
                    <a href="#">FAQs</a>
                </div>
            {% endif %}
                
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/icon/heart.png' %" alt=""></a>
            <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->