{% extends 'core/base.html' %}
{% block title %}Login | {% endblock %}

{% block content %}


{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
    </div>
    {% endfor %}
{% endif %}



<div class="wrapper">
    <h1 style="font-size: 2rem; color: #07001f; margin-bottom: 1.2rem;">Giriş Yap</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Kullanıcı adı" name="username" class="user-input">
        <input type="password" placeholder="Password" name="password" class="user-input">

        <div class="recover">
            <a href="">Şifremi unuttum</a>
        </div>

        <button type="submit" class="user-forms">Giriş Yap</button>

        <div class="member">
            Üye değil misiniz? <a href="{% url 'signup' %}">Kayıt Ol</a>
        </div>
    </form>
    
   
</div>


{% endblock %}