{% extends 'core/base.html' %}
{% block title %}Kayıt Ol | {% endblock %}

{% block content %}


{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        <p>{{ message }}</p>
    </div>
{% endfor %}
{% endif %}


<div class="wrapper">
    <h1 style="font-size: 2rem; color: #07001f; margin-bottom: 1.2rem;">Kayıt Ol</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.username}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}

        <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox"><a href="">Kullanım koşullarını</a> kabul ediyorum</label>
        </div>

        <button type="submit" class="user-forms">Kayıt Ol</button>
        <div class="member">
            Zaten üye misiniz? <a href="{% url 'login' %}">Giriş Yap</a>
        </div>
    </form> 
</div>


{% endblock %}